body {
  background-color: #157a8c;
}

a {
  text-decoration: none;
  color: #4b3c5d;
}

#nav-logo {
  width: 100%;
  
}

.navbar {
  font-size: xx-large;
}

.navbar-collapse {
  left: 50%;
}

.navbar-brand {
  font-size: x-large;
}

.d-flex {
  position: sticky;
  right: 2%;
}

.d-block {
  width: 100%;
}
