body {
  background-color: #7d82b8;
}

#nav-logo {
  width: 100%;
}

.navbar {
  font-size: xx-large;
}

.navbar-toggler {
  position: absolute;
  left: 90%;
}

.navbar-collapse {
  left: 50%;
}

.navbar-brand {
  font-size: x-large;
}

.d-flex {
  position: sticky;
  right: 2%;
}
