body {
  background-color: #536d88;
   }

#nav-logo {
  width: 100%;
}

.navbar {
  font-size: xx-large;
}

.navbar-toggler {
  position: absolute;
  left: 85%;
}

.navbar-collapse {
  left: 50%;
}

.navbar-brand {
  font-size: x-large;
}

.d-flex {
  position: sticky;
  right: 2%;
}

.d-block {
  width: 100%;
}