.card-title {
  padding: 1px;
}

.carousel-control-prev {
  border: solid chocolate;
  background-color: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  width: 40%;
  max-width: 90px;
  top: 45%;
  left: 10%;
 
}

.carousel-control-next {
  border: solid chocolate;
  background-color: black;
  border-radius: 50%;
  height: 100px;
  width: 40%;
  max-width: 90px;
  top: 45%;
  right: 10%;
}